<template>
  <div class="home">
    <img class="img" :src="'../../../assets/raton.jpg'" />
    <h2>Create new player</h2>
    <input
      ref="input"
      v-model="userValue"
      placeholder="   Name *"
      class="form-item"
      required
    />
    <div v-if="hasErrorNameUser" class="error-user">
      <span> Este nombre no es válido </span>
    </div>
    <div class="button">
      <button
        type="button"
        tabindex="-1"
        class="myButton"
        @click="userValidate()"
      >
        JOIN
      </button>
    </div>
  </div>
</template>

<script>


export default {
  name: "home",
  props: {},
  data() {
    return {
      userValue: "",
      hasErrorNameUser: false,
      namesUser: [{}],
    };
  },
  methods: {
    userValidate() {
      const foundUser = this.$store.state.users.some((el) => el.name === this.userValue);
      if (!foundUser) {
        this.$store.state.users.push({ name: this.userValue, points: 0 })
        this.hasErrorNameUser = false; 
        this.$router.push({name:'game', params: {name: this.userValue}})
      } else {
        this.hasErrorNameUser = true;
      }
      return this.$store.state.users;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.home {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: white;
  background-color: black;
  min-height: 100vh;

  .img {
    margin-top: 65px;
  }

  .form-item {
    background-color: black;
    width: 40%;
    height: 40px;
    margin-top: 32px;
    color: white;
  }
  .error-user {
    margin-top: 12px;
  }
  .myButton {
    background-color: #599bb3;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    font-size: 15px;
    width: 40%;
    padding: 11px 4px;
    text-decoration: none;
  }
  .myButton:hover {
    background-color: #408c99;
  }
  .myButton:active {
    position: relative;
    top: px;
  }
  .button {
    margin-top: 43px;
  }
}
</style>
