<template>
  <div class="game">
    <div class="data-user">
      <span> Name: {{ obtainName() }}</span>
      <span> Points: {{ this.points }}</span>
      <div class="button-game">
        <button type="button" @click="salir()" class="button-close">
          Salir
        </button>
      </div>
    </div>
    <div class="buttons">
      <div class="button-game">
        <button
          type="button"
          class="button"
          id="getValuePiedra"
          value="Piedra"
          @click="obtainDataSelectedPiedra()"
        >
          Piedra
        </button>
      </div>
      <div class="button-game">
        <button
          type="button"
          class="button"
          id="getValuePapel"
          value="Papel"
          @click="obtainDataSelectedPapel()"
        >
          Papel
        </button>
      </div>
      <div class="button-game">
        <button
          type="button"
          class="button"
          id="getValueTijera"
          value="Tijera"
          @click="obtainDataSelectedTijera()"
        >
          Tijera
        </button>
      </div>
    </div>
    <div class="view-game">
      <span>The user has selected: {{ this.valueSelected }}</span>
    </div>
    <div class="view-game-machine">
      <span
        >The machine has selected: {{ this.valueSelectedMachineResult }}</span
      >
    </div>
    <div class="view-game-winner">
      <span v-if="isNotEmpate">The winner is: {{ this.nameWinner }}</span>
      <span v-else>There is no winner. There is a tie.</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "game",
  props: {},
  data() {
    return {
      points: 0,
      valueSelected: "",
      playerWinner: false,
      valueSelectedMachineResult: "",
      valueWinnerData: "",
      nameWinner: "",
      isNotEmpate: false,
      optionsMachine: ["Piedra", "Papel", "Tijera"],
    };
  },
  methods: {
    obtainName() {
      return this.$router.history.current.params.name;
    },
    salir() {
      this.$router.push({ name: "home", params: { name: this.userValue } });
    },
    obtainDataSelectedPiedra() {
      var x = document.getElementById("getValuePiedra").value;
      this.valueSelected = x;
      this.valueSelectedMachineResult = this.valueSelectedMachine();
      this.valueWinner();
    },
    obtainDataSelectedPapel() {
      var x = document.getElementById("getValuePapel").value;
      this.valueSelected = x;
      this.valueSelectedMachineResult = this.valueSelectedMachine();
      this.valueWinner();
    },
    obtainDataSelectedTijera() {
      var x = document.getElementById("getValueTijera").value;
      this.valueSelected = x;
      this.valueSelectedMachineResult = this.valueSelectedMachine();
      this.valueWinner();
    },
    valueSelectedMachine() {
      const random = Math.floor(Math.random() * this.optionsMachine.length);
      return this.optionsMachine[random];
    },
    theWInnerIs() {},
    valueWinner() {
      if (
        (this.valueSelectedMachineResult == "Piedra" ||
          this.valueSelected == "Piedra") &&
        (this.valueSelectedMachineResult == "Tijera" ||
          this.valueSelected == "Tijera")
      ) {
        this.valueSelectedMachineResult == "Piedra"
          ? (this.playerWinner = false)
          : (this.playerWinner = true);
        this.isNotEmpate = true;
        if (this.playerWinner) {
          this.points++;
          this.nameWinner = "Player";
        } else this.nameWinner = "Machine";
        this.valueWinnerData = "Piedra";
      } else if (
        (this.valueSelectedMachineResult == "Tijera" ||
          this.valueSelected == "Tijera") &&
        (this.valueSelectedMachineResult == "Papel" ||
          this.valueSelected == "Papel")
      ) {
        this.valueSelectedMachineResult == "Tijera"
          ? (this.playerWinner = false)
          : (this.playerWinner = true);
        this.isNotEmpate = true;
        if (this.playerWinner) {
          this.points++;
          this.nameWinner = "Player";
        } else this.nameWinner = "Machine";
        this.valueWinnerData = "Tijera";
      } else if (
        (this.valueSelectedMachineResult == "Papel" ||
          this.valueSelected == "Papel") &&
        (this.valueSelectedMachineResult == "Piedra" ||
          this.valueSelected == "Piedra")
      ) {
        this.valueSelectedMachineResult == "Papel"
          ? (this.playerWinner = false)
          : (this.playerWinner = true);
        this.isNotEmpate = true;
        if (this.playerWinner) {
          this.points++;
          this.nameWinner = "Player";
        } else this.nameWinner = "Machine";
        this.valueWinnerData = "Papel";
      } else if (
        this.valueSelectedMachineResult == "Tijera" &&
        this.valueSelected == "Tijera"
      ) {
        this.isNotEmpate = false;

        this.valueWinnerData = "Empate";
      } else if (
        this.valueSelectedMachineResult == "Piedra" &&
        this.valueSelected == "Piedra"
      ) {
        this.isNotEmpate = false;

        this.valueWinnerData = "Empate";
      } else if (
        this.valueSelectedMachineResult == "Papel" &&
        this.valueSelected == "Papel"
      ) {
        this.isNotEmpate = false;

        this.valueWinnerData = "Empate";
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.game {
  color: rgb(139, 122, 122);
  background-color: black;
  min-height: 100vh;
  .data-user {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 25px 25px;
    color: white;
    width: 100%;
    text-align: center;
    .button-close {
      width: 25%;
      height: 20px;
      background-color: white;
      color: black;
    }
  }
  .view-game {
    margin: 30px 30px;
    color: white;
  }
  .view-game-machine {
    margin: 30px 30px;
    color: grey;
  }
  .view-game-winner {
    margin: 30px 30px;
    font-size: 30px;
    color: green;
  }
  .buttons {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    .button-game {
      height: 100%;
      text-align-last: center;
      .button {
        width: 40%;
        height: 100px;
        background-color: #599bb3;
        color: black;
      }
    }
  }
}
</style>
